body{
	font-family: "Roboto", times;
	background: #e2eceb;


}

.pleasant-scene{
	position: relative;
}

.starburst{
	position: absolute;
	display: block;
	left: -230px;
	z-index: -99;
	opacity: 0;
	margin: 0 auto;
}

.grass{
	background: url('img/grass.png');
	background-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.green-bg{
	background: #65ce33;
}



h1{
	font-size: 90px;
	padding-top: 30px;

}

h1, h2, h3, h4{
	font-family: 'Asul', sans-serif;

}

p{
	font-size: 25px;
}

h3{
	font-weight: 500;

}

.footer-icon{
	width: 100px;
}




	